<div class="container">

  <h1>つぶやき一覧</h1>
  
  <div id="new-blog-link">
    <%= link_to '新規つぶやきを作成する', new_blog_path, class: 'btn btn-info btn-lg' %>
  </div>
  
  <br>
  
  <p><%= notice %></p>

  <nav class="row">

    <% @blogs.each do |blog| %>
    
      <div class="container-fluid">
        <ul class="row">
          <li class="col-lg-2.4"><%= blog.content %></li>
          <li class="col-lg-2.4"><%= image_tag blog.image.to_s %></li>
        
          <% if blog.user == current_user %>
            <li class="col-lg-2.4"><%= link_to '　詳細を確認する　', blog_path(blog.id), class: 'btn btn-default'  %></li>
            <li class="col-lg-2.4"><%= link_to 'つぶやきを編集する', edit_blog_path(blog.id), class: 'btn btn-primary' %></li>
            <li class="col-lg-2.4"><%= link_to 'つぶやきを削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %></li> 
          <% else %>
            <li class="col-lg-2.4"><%= link_to '　詳細を確認する　', blog_path(blog.id), class: 'btn btn-default'  %></li>
          <% end %>
          
        </ul>    
      </div>
    <% end %>
  </nav>

</div>